#display {
  font-size: 40px;
  background-color: #353333;
  color: #fff;
  text-align: end;
  text-justify: center;
  border: none;
  margin: none;
}

#equal {
  background-color: rgb(79, 108, 170);
}

#backs {
  background-color: #ce5252;
}

td {
  text-align: center;
  text-justify: center;
  border-radius: 12px;
  border: 2px solid #cdcdcd;
}

.notepad {
  display: flex;
  flex-direction: column;
}
