@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: FadeIn 0.6s ease-in;
}

.content {
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 12vw 2vh;
  margin-right: 14vw;
  margin-left: 14vw;
}

img {
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

@media only screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
    background-color: #323232;
    border-radius: 40px;
    margin-top: 10vh;
    width: 40vw;
    align-self: center;
    justify-content: center;
    align-items: center;
  }

  img {
    height: 140px;
  }
  .gap {
    display: hidden;
  }
}
