@import url("https://fonts.googleapis.com/css2?family=Battambang:wght@300&display=swap");

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 100;
    transform: translateX(0);
  }
}

.hidden-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content-project {
  margin-left: 30px;
  margin: 12px;
  padding: 0px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.right {
  margin-right: 1em;
  overflow-y: scroll;
}

td {
  padding-right: 12px;
  padding: 4px;
}

.left {
  width: 90%;
  height: 60vh;
  padding: 20px;
  border-radius: 18px;
  background-color: #adadad;
  color: #000;
  overflow-y: scroll;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.info-card {
  border-bottom: 1px solid #000;
  color: #000;
  width: 130px;
  border-radius: 30px;
  text-align: center;
  font-weight: 700;
}

#project-name-desc {
  text-decoration: none;
  font-size: 1.5em;
  margin-bottom: 0px;
}

#proj-sdesc-desc {
  margin-top: 0px;
}

p,
td {
  font-family: "Battambang", system-ui;
  font-weight: 300;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #fff;
}

.link {
  border-radius: 15px;
  width: 140px;
  height: 30px;
  padding: 8px 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d9d9d9;
  color: #000;
}

.link a {
  color: #000;
}

.link img {
  animation: fade-in 0.3s ease;
  transition: transform 0.3s ease;
  width: 1em;
  height: 1em;
}

.weblinks {
  display: flex;
  justify-content: center;
  direction: row;
  gap: 13px;
  margin-left: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  user-select: none;
  justify-content: space-between;
  background-color: #323232;
  position: relative;
  height: 218px;
  width: 157px;
  border-radius: 30px;
  color: #fff;
  font-size: 10px;
  padding: 12px 10px;
  margin: 12px;
  animation: fade-in 0.3s ease;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
}

#proj-name {
  font-size: 12px;
  margin: 12px;
}

#proj-desc {
  margin-right: 5px;
  height: 7em;
  overflow: hidden;
}

.image-section {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  gap: 2em;
}

.image-section img {
  height: 10em;
  border-radius: 1em;
}

@media only screen and (max-width: 600px) {
  .card-list {
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .content-project {
    flex-direction: column;
    font-size: 14px;
    height: 80vh;
  }

  .left {
    margin: 2em 0em;
    width: 92vw;
    /* height: 98vh; */
    height: 400vh;
  }

  .info-card {
    background-color: #cfcfcf;
    color: #1d1d1d;
  }

  a {
    text-decoration: none;
    color: #1d1d1d;
  }

  .card {
    height: 150px;
    width: 67vw;
    padding: 14px;
  }
}
