.terminal {
  background-color: #353333;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  /* background-color: #151515; */

  border: 1px solid #d4d4d4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  border-color: #f0f0f0;

  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  color: #ffffff;
}

#Icon {
  display: absolute;
  border-radius: 90px;
  background-color: #353333;
}
.data {
  height: 80%;
  overflow-y: scroll;
}

.terminal * {
  margin-top: 0;
  margin-bottom: 0;
}

.titlebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#title-content {
  font-size: larger;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.title-buttons {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.t-btn {
  border-radius: 180px;
  width: 47px;
  height: 18px;
  border: 0;
  margin-bottom: 12px;
  background-color: #d9d9d9;
}

#gap {
  margin-bottom: 14px;
}

.main {
  position: absolute;
  height: 314px;
  width: 600px;
}

.bg {
  position: absolute;
  translate: -140px +20%;
  height: 290px;
  width: 570px;
}

input {
  width: 90%;
  background-color: #353333;
  font-family: "Battambang", system-ui;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.notepad {
  height: 362px;
  width: 304px;
}

#textData {
  font-family: "Battambang", system-ui;
  font-weight: 700;
  font-size: 14px;
  background-color: #353333;
  color: #fff;
  margin: none;
  border: none;
}

#save-btn {
  background-color: #353333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 90px;
  font-size: 14px;
  width: 80px;
}

#save-btn:active {
  background-color: #222222;
}

@media only screen and (max-width: 600px) {
  .terminal {
    border: none;
    margin-bottom: 44px;
    background-color: #1e1e1e;
  }
  .terminal * {
    background-color: #1e1e1e;
  }

  .bg {
    display: none;
  }
  #gap {
    display: none;
  }

  .titlebar {
    display: none;
  }

  .main {
    position: relative;
    height: 454px;
    width: 75vw;
    align-self: center;
  }
}
