.terminal {
  background-color: #141414;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  /* background-color: #151515; */

  border: 3px solid #d4d4d4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  border-color: #f0f0f0;

  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  color: #ffffff;
}

.data {
  height: 80%;
  overflow-y: scroll;
}

.terminal * {
  margin-top: 0;
  margin-bottom: 0;
}

.titlebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#title-content {
  font-size: larger;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.title-buttons {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.t-btn {
  border-radius: 180px;
  width: 23px;
  height: 23px;
  border: 0;
  margin-bottom: 12px;
  background-color: #d9d9d9;
}

#gap {
  margin-bottom: 14px;
}

.main {
  position: absolute;
  height: 314px;
  width: 600px;
}

.bg {
  position: absolute;
  translate: -140px +20%;
  height: 290px;
  width: 570px;
}

input {
  background-color: #141414;
  color: #fff;
  border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .bg {
    display: none;
  }
  #gap {
    display: none;
  }

  .titlebar {
    display: none;
  }

  .main {
    position: relative;
    height: 414px;
    width: 90vw;
    align-self: center;
  }
}
